@import url(../world/style16.css);

@media print {
  #nav,#mail,#header,#datebox,.footer,#map {
    display: none
  }
  
  #printhead {
    display: block
  }
  
  img {
    max-width: 45%
  }
  
  #main {
    display: block
  }
}

@media screen {
  #navhead {
    display: block;
  }

  .kolumbien #header {
    background: url(mountain.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 0;
  }
  
  .kolumbien #titlebox h1 {
    background: url(icon.svg) no-repeat;
    background-position: center 135px;
    background-size: 40px;
    text-shadow: 2px 2px 15px grey;
  }
  
  #datebox {
    position: absolute;
    top: 550px;
    width: 200px;
    z-index: 20;
  }
  
  .datelabel {
    line-height: 2.2rem;
    background: black;
    color: white;
    margin: 0 0 4px 0;
    padding: 5px 20px;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
  }
  
  
  img#map {
    width: 90%;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    z-index: -10;
  }
  
  .kolumbien #container {
    margin-top: 40px;
  }
  
  
  @media (max-width: 800px) {
    .kolumbien #header {
      margin-bottom: 0;
      position: relative;
      background: url(mountain.jpg) no-repeat;
      background-size: cover;
      background-position: center 30%
    }
    
    .datelabel {
      display: none;
    }
    #titlebox {
      height: 200px;
      margin: 0px auto -200px 0;
      text-align: center;
      top: -30px;
      color: white;
      border: 0;
    }
  }
}
