@import url(../world/style16.css);

@media screen {
    .madagaskar #header {
      background: url(hero_ws.jpg) no-repeat;
      background-position: 50% 45%;
      background-size: cover;
      margin-bottom: 0;
    }

    .madagaskar #titlebox h1 {
      background: url(icon.svg) no-repeat;
      background-position: center 120px;
      background-size: 4rem;
    }

    #datebox {
      position: absolute;
      top: 550px;
      width: 200px;
      z-index: 20;
    }

    .datelabel {
      line-height: 2.2rem;
      background: black;
      color: white;
      margin: 0 0 4px 0;
      padding: 5px 20px;
      white-space: nowrap;
      letter-spacing: 0.1rem;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.1rem;
    }


    img#map {
      width: 550px;
      margin: 0 auto;
      margin-top: -169px;
      z-index: -10;
    }

    .madagaskar #container {
      margin-top: 40px;
    }


    @media (max-width: 800px) {
		/*
      .madagaskar #header {
        margin-bottom: 0;
		position: relative;
		background: url(hero_qs.jpg) no-repeat;
		background-size: cover;
		background-position: center 60%
      }
	  */

      .datelabel {
        display: none;
      }
      #titlebox {
        height: 200px;
        margin: 0px auto -200px 0;
        text-align: center;
        top: -30px;
        color: white;
        border: 0;
      }
    }
}
