@import url(../world/style16.css);

@media print {
  #datebox {display:none}
}

@media screen {

.bali #header {
  background: url(hero_ws.jpg) no-repeat;
  background-position: 60% 70%;
  background-size: cover;
  z-index: 20;
}

.bali #titlebox h1 {
  background: url(../world/bali.svg) no-repeat;
  background-position: center 120px;
  background-size: 4rem;
}

#datebox {
  position: absolute;
  width: 200px;
  z-index: 20;
}

.datelabel {
  line-height: 2.2rem;
  background: black;
  color: white;
  margin: 0 0 4px 0;
  padding: 5px 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

img#map {
  width: 621px;
  height: 370px;
  filter: grayscale(100%);
}

@media (max-width: 600px) {
  .bali #header {
    background: url(hero_qs.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media (max-width: 800px) {
  .datelabel {
    display: none;
  }
  #titlebox {
    height: 200px;
    margin: 0px auto -200px 0;
    text-align: center;
    top: -30px;
    color: white;
    border: 0;
  }
}

}


