@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

@import url(../world/menu.css);

@media print {
  #nav, #menu, #header, #datebox, .footer, #map {display:none}
  #printhead{display:block}
  img { max-width: 45%; }
  #main { display: block; }
}

@media screen {

#printhead {
  display: none;
}

h2, h1, div, body {
  margin: 0;
}

a {
 text-decoration: none;
 color: inherit;
}
.text a {
 text-decoration: underline;
 color: inherit;
}

html {
  font-size: 90%;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.0em;
  font-weight: normal;
  color: black;
}

#nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: black;
  z-index: 30;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
}


#home {
  display: block;
  width: 52px;
  height: 38px;
  float: left;
  margin: 14px;
  background: url(../world/home.svg) no-repeat;
  background-size: cover;
}
#home > span {
  display: none;
}

#navhead {
  margin: auto 0;
  display: none;
}


#header {
  position: relative;
  border: 0 solid black;
  border-bottom-width: 15px;
  padding-bottom: 15px;
  height: 400px;
  background: url(hero_ws.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
  filter: brightness(85%);
  margin-bottom: 40px;
  /* gap for fixed nav */
  margin-top: 70px;
}

/*
 *#titlebox {
 *  position: relative;
 *  height: 400px;
 *  margin: 0 auto;
 *  top: 00px;
 *  text-align: center;
 *  color: white;
 *  border: 0;
 *}
 */

#titlebox {
    position: relative;
    height: 400px;
    margin: 0 auto -400px 0;
    text-align: center;
    color: white;
    border: 0;
    z-index: 10;
}

h1 {
  width: 100%;

  letter-spacing: 0.4rem;
  font-size: 3rem;
  text-transform: uppercase;
}

#titlebox h1 {
  padding-top: 210px;
  margin-bottom: 20px;
  background: url(icon.svg) no-repeat;
  background-position: center 120px;
  background-size: 5rem;

}

#titlebox #spruechle {
  font-size: 1.0rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  line-height: 1.6rem;
}

#titlebox #wir {
  font-size: 1.0rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#datebox {
  position: absolute;
  top: 400px;
  left: 80px;
  height: 200px;
  width: 200px;
  z-index: 20;

  color: white;
  background-image: url(../world/circle-red.svg);
  text-align: center;
}

#pekinglabel {
  font-size: 2.2rem;
  padding: 38px 0 29px 0;
}

.datelabel {
  margin: 0 0 4px 0;
  padding: 5px 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  line-height: 0.5rem;
}

.datelabel, .date {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}


#map {
  display: block;
  position: relative;

  width: 778px;
  max-width: 100%;

  margin: 50px auto;
  z-index: 10;
  top: -480px;
  margin-bottom: -480px;
}



#container {
  position: relative;
  margin: 0 auto 0 auto ;
  width: 90%;
  max-width: 800px;
  padding: 10px;
}


.title::after {
  display: block;
  content: "";
  background: black;
  width: 2rem;
  height: 2px;
  border: 1px solid black;
  margin: 10px auto;
}

.entry {
  margin-bottom: 40px;
}

.link {
	margin: 20px 0 ;
}


.date {
  display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1.0pt;
}

.title {
  display: block;
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;

  text-align: center;

  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.title a.active,
.title a:hover {
  border-bottom: 3px solid black;
}


.text p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  line-height: 1.9rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}


.entry img {
  width: 100%;
  margin: 10px 0 0 0;
  display: block
}
@media (min-width: 800px) {
  .entry img.portrait {
    width: 49%;
    display: inline;
	margin-right: 10px;
  }
  img.portrait + img.portrait {
	margin-right: 0;
  }
}
.footer {
  background: black;
  height: 20px;
  padding: 27px ;

  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.12rem;
}

#disqus_thread {
  margin: 40px auto;
}

#footerhome {
  float: left;
}

#copy {
  float: right;
}

@media (max-width: 800px) {
  html {
    font-size: 80%;
  }

  #header {
    position: relative;
    height: 350px;
	background: url(hero_qs.jpg) no-repeat;
	background-position: center top;
	background-size: cover;
  }

  #map {
    display: none;
  }

  #datebox {
    top: 380px;
    left: -25px;
    height: 150px;
    width: 150px;
  }
  #pekinglabel {
    padding: 25px 0 15px 0;
  }
  .datelabel {
    padding: 5px 20px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 0.7rem;
  }
  #titlebox {
    height: 200px;
    margin: 0px auto -200px 0;
    text-align: center;
    top: -30px;
    color: white;
    border: 0;
  }

  #copy {
    float: left;
  }
}

}


