@import url(../world/style16.css);

@media screen {

.peking #header {
  background: url(hero_ws.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
}

.peking #titlebox h1 {
  background: url(icon.svg) no-repeat;
  background-position: center 105px;
  background-size: 5rem;
}

#datebox {
  position: absolute;
  top: 400px;
  left: 80px;
  height: 200px;
  width: 200px;
  z-index: 20;

  color: white;
  background-image: url(../world/circle-red.svg);
  text-align: center;
}

#pekinglabel {
  font-size: 2.2rem;
  padding: 38px 0 29px 0;
}

.datelabel {
  margin: 0 0 4px 0;
  padding: 5px 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  line-height: 0.5rem;
}

.datelabel {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}



@media (max-width: 800px) {
  .peking #header {
	background: url(hero_qs.jpg) no-repeat;
	background-position: center top;
	background-size: cover;
  }

  #datebox {
    top: 380px;
    left: -25px;
    height: 150px;
    width: 150px;
  }
  #pekinglabel {
    padding: 25px 0 15px 0;
  }
  .datelabel {
    padding: 5px 20px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 0.7rem;
  }
}

}


