@import url(../world/style16.css);

@media screen {

.jordanien #header {
  background: url(img/AF_20160921_0171.jpg) no-repeat;
  background-position: center 93%;
  background-size: cover;
}

#titlebox h1 {
  background: url(camel.svg) no-repeat;
  background-position: center 120px;
  background-size: 5rem;
}

#datebox {
  position: absolute;
  width: 200px;
  z-index: 20;
}

.datelabel {
  line-height: 2.2rem;
  background: black;
  color: white;
  margin: 0 0 4px 0;
  padding: 5px 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}


.datelabel {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

#map {
  /* route auf karte montieren */
  background: url(map.png) no-repeat;
  width: 600px;
  max-width: 100%;
  max-height: 534px;
}


@media (max-width: 800px) {
  .datelabel {
    display: none;
  }
}

}
