#menubutton {
  width: 32px;
  height: 32px;
  background-size: cover;
  margin: 19px 14px 19px 20px;
}

#menubutton.open {
  background: url(open.svg) no-repeat;
}

#menubutton.close {
  background: url(close.svg) no-repeat;
}

#menu {
  position: fixed;
  top: 70px;
  display: none;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 50;
  line-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-top: 3px solid white;
  padding: 20px 0;
  overflow: scroll;
  max-height: 100%;
}

.show-menu {
  display: block !important;
}

#menuScroller {
  position: relative;
  top: -70px;
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
}

#menu a {
  display: block;
  width: 100%;
}

.nav-show-link {
  display: block !important;
}
