/*
violett 1 rgb(175,14,106)
violett 2 rgb(88,25,101)
orange rgb(255,189,32) #ffbd20
*/

a {
 text-decoration: none;
 color: rgb(255,189,32);

}

body {
  font-family: "Arial Narrow", sans-serif;
  font-size: 13pt;
  color: white;
  position: relative;

  background: rgb(88,25,101) url(gfx/tile.png) fixed;

  margin-bottom: -250px;
}


.header {
  position: fixed;
  background-image: url(gfx/header.png);
  width: 214px;
  height: 134px;
  margin-top: 80px;
  margin-left: 700px;
}


#subnav {
  margin-top: 170px;
}


#subnav a {
  display: block;
  text-align: center;
  line-height: 24px;
  font-size: 12pt;
  letter-spacing: 0.3pt;
}

#subnav a.cur {
  color: white;
}


h1 {
  display: none;
}


.nav {
  padding: 15px;
  position: absolute;
}

#worldlink {
  display: block;
  width: 107px;
  height: 19px;
  background: url(gfx/ferndrang.png);
}

#worldlink > span {
  display: none;
}


#container {
  position: relative;
  top: 40px;
  margin: 0 auto 40px auto ;
  padding-top: 0px;
  width: 950px;
  background: #741568;

  background: -moz-linear-gradient(top,  #af0e6a, #741568, #581965 1000px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af0e6a), color-stop(500px,#741568), color-stop(1000px,#581965));
  background: -webkit-linear-gradient(top,  #af0e6a ,#741568,#581965 1000px);
  background: -o-linear-gradient(top,  #af0e6a ,#741568 ,#581965 1000px);
  background: -ms-linear-gradient(top,  #af0e6a ,#741568,#581965 1000px);
  background: linear-gradient(to bottom,  #af0e6a,#741568 ,#581965 1000px);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0e6a', endColorstr='#581965',GradientType=0 );

/*  background: linear-gradient( to bottom, rgb(175,14,106), rgb(116,21,104), rgb(88,25,101) 1000px); */

}

.map {
  padding-top: 1px;
}
#map {
  display: block;
  margin: 35px auto -25px 20px;
}


#main {
  position: relative;
  width: 667px;
  padding: 1px 20px 10px 45px;
}


.entry {
	padding-bottom: 20px;
}


.date::before {
  content: " ";
  position: relative;
  top: -13px;
  border-top: 2px solid rgb(255,189,32);
  display: block;
  width: 40px;
  height: 1px;
}

h2.date {
  float: left;
  margin: 0px;
  clear: left;
  color: rgb(255,189,32);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12pt;
  letter-spacing: 1.0pt;
}

.title::before {
  content: " , ";
}
h3.title {
  text-transform: uppercase;
  color: rgb(255,189,32);
  font-size: 12pt;
  letter-spacing: 1.5pt;
  padding-top: 3px;
}

.text {
  font-family: "Times New Roman", Times, serif;
  width: 640px;
  padding: 0px 0px 20px 0px;
  line-height: 1.5pc;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  text-align: justify;
}

.text img {
	max-width: 640px;
	margin: 0 0 20px 0;
	border-radius: 2px;
}

#copy {
  font-size: smaller;
}

.footer {
  margin-left: 45px;
  width: 100%;
  padding-bottom: 20px;
}
