/*
braun: rgb(60,25,8)
hellbraun: rgb(125,54,16)
karamell: rgb(230,144,40)

 */
.nav {
  text-transform: uppercase;
  float: right;
  position: relative;
  margin-top: -22px;
}

#worldlink {
  color: rgb(125,54,16);
  padding-right: 20px;
  text-decoration: none;
}

#navselected {
  color: rgb(125,54,16);
  font-weight: bold;
}

body {
  font-family: "Arial Narrow", Sans-serif;
  font-size: 10pt;

  color: rgb(125,54,16);
  margin: 0;
  background: black url(tile.gif);
}


/*#container:before{
  content:url(box.png);
  position: absolute;
  margin-top: -35px;
  margin-left: -60px;
  z-index: 1;
}*/

#container {
  margin: 38px auto 50px auto;
  padding: 0 0 3px 0;
  width: 751px;
  background: white;
  z-index: -1;
}


.header {
  height: 231px;
  padding-bottom: 0px;
  margin: 0;
}

h1 {
  background: url(head.jpg) no-repeat;
  width: 691px;
  height: 235px;
  color: transparent;
  float: right;
  padding-right: 30px;
  margin: 10px 0 0 0;
}


#map {
  position: relative;
  left: 91px;
  z-index: 0;
}

.content {
  padding: 0 20px 40px 45px;
}


.date {
  color: rgb(230,144,40);
  font-size: 10pt !important;
  float: right;
  padding-right: 20px;
}

.title {
  float: left;
}

.title:before {
  content: url(elephant.gif);
  position: relative;
  top: -11px;
  width: 48px;
  float: left;
  height: 1px;
}


.date, .title {
  text-transform: uppercase;
  font-size: 13pt;
  margin: 0;
  letter-spacing: 0.5pt;
}


.text {
  clear: left;
  font-size: 12pt;
  font-family: "Georgia", "Times New Roman", serif;
  letter-spacing: 0.1px;
  line-height: 1.4em;
  padding: 20px 20px 0 0;
  text-align: justify;
}

.text p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.entry {
  margin: 40px 0 0 0;
  padding: 20px 0 0 0;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: underline;
}

.fotos img {
  display: block;
  padding: 10px 0 0px 0;
  max-width: 666px;
}

.fotos {
  margin-bottom: 50px;
}


.footer {
  margin-top: 30px;
  margin-left: 45px;
  width: 100%;
}

#copy a {
  font-size: smaller;
  color: inherit;
}


