<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" >

<head>
  <meta name="keywords" content="dahab, egypt, diving, pictures, underwater, unterwasser, tauchen, tauchbilder, urlaub, holidays" />
  <meta http-equiv="content-type" content="application/xml+xhtml; charset=iso-8859-1" />
  <link rel="stylesheet" href="../dahab/dahab.css"/>
  <title>Dahab, Ägypten 2005 - LONGNAME</title>
</head>


<body>
<div id="container">

<div class="navigation" id="mainNavi">
	<span><a href="//route.blasphemo.net/" title="World">World</a></span>
	<span><a class="selected" href="" title="Route">Route</a></span>
</div>

<div id="header">
	<h1><span>Dahab, Ägypten 2005</span></h1>
</div>

<div id="content">
	<div class="navigation">
	<ul id="subNavi">
<!-- class="selected" -->
		<li><a href="../bells/" title="Bells / Blue Hole">Bells / Blue Hole</a></li>
		<li><a href="../canyon/" title="Canyon">Canyon</a></li>
		<li><a href="../abutalha/" title="Abu Talha">Abu Talha</a></li>
		<li><a href="../lighthouse/" title="Lighthouse">Lighthouse</a></li>
		<li><a href="../islands/" title="Islands">Islands</a></li>
		<li><a href="../goldenblocks/" title="Golden Blocks">Golden Blocks</a></li>
		<li><a href="../ummsid/" title="Umm Sid">Umm Sid</a></li>
		<li><a href="../caves/" title="Caves">Caves</a></li>
	</ul></div>


	<div class="pictures" id="thumbs">
		<ul>
		<li><a href="SHORTNAME_1.html"><img alt="LONGNAME - Bild 1" src="SHORTNAME_1.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_2.html"><img alt="LONGNAME - Bild 2" src="SHORTNAME_2.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_3.html"><img alt="LONGNAME - Bild 3" src="SHORTNAME_3.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_4.html"><img alt="LONGNAME - Bild 4" src="SHORTNAME_4.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_5.html"><img alt="LONGNAME - Bild 5" src="SHORTNAME_5.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_6.html"><img alt="LONGNAME - Bild 6" src="SHORTNAME_6.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_7.html"><img alt="LONGNAME - Bild 7" src="SHORTNAME_7.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_8.html"><img alt="LONGNAME - Bild 8" src="SHORTNAME_8.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_9.html"><img alt="LONGNAME - Bild 9" src="SHORTNAME_9.tn.jpg"/></a></li>
		<li><a href="SHORTNAME_10.html"><img alt="LONGNAME - Bild 10" src="SHORTNAME_10.tn.jpg"/></a></li>
		</ul>
		<p>&copy; 2005 Felix Hassert</p>
	</div>

	<div id="relNavi" class="navigation">
		<a href="../canyon/" title="Canyon" class="arrow" id="prev"><span>vorige Seite</span></a>
		<a href="../lighthouse/" title="Lighthouse" class="arrow" id="next"><span>nächste Seite</span></a>
	</div>

	<div id="xhtml">
		<a href="http://validator.w3.org/check?uri=referer"><img
		src="http://www.w3.org/Icons/valid-xhtml10"
		alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
	</div>
</div>

</div>

</body>
</html>
