@import url(../world/style16.css);

@media screen {

.ethio #header {
  background: url(hero.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.ethio #titlebox h1 {
  background: url(icon.svg) no-repeat;
  background-position: center 95px;
  background-size: 120px;
}


#datebox {
  position: absolute;
  width: 200px;
  z-index: 20;
}

.datelabel {
  line-height: 2.2rem;
  background: black;
  color: white;
  margin: 0 0 4px 0;
  padding: 5px 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}


.datelabel {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}



@media (max-width: 800px) {
  .datelabel {
    display: none;
  }
}

}


