@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

@media print {
  .nav,#mail, .header, .entry {display:none}
  #printhead{display:block}
  img { max-width: 45%; }
  #main { display: block; }
}

@media screen {

a {
 text-decoration: none;
 color: black;
 word-wrap: break-word;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 13pt;
  color: black;
  /*
  min-width: 1034px;
  */
}

#printhead {
  display: none;
}

.header {
  border: 0 solid black;
  border-bottom-width: 20px; 
  padding-bottom: 20px;
  width: 100%;
  height: 558px;
  background: url(head2.jpg) no-repeat;
  background-size: cover;
  zoom: 100%;

}
.headpanel {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#banner {
  display: block;
  width: 392px;
  top: 50px;
  left: 300px;
  position: absolute;
  float: left;
  max-width: 98%;
  z-index: 20;
}


#peninsula {
  width: 300px;
  height: 375px;
  position: absolute;
  margin: 20px 0 0 10px;
  background: url(peninsula.svg) no-repeat;
  background-size: 100%;
  z-index: 0;
}

#borneo {
  width: 455px;
  height: 527px;
  position: absolute;
  top: 40px;
  left: 600px;
  background: url(borneo.svg) no-repeat;
  background-size: 100%;
  z-index: 0;
}

#rose {
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  left: 40px;
  top: 430px;
  background: url(rose.svg) no-repeat;
  background-size: 100%;
  z-index: 10;
}

.header::after {
  display: block;
  content: "";
  background: url(arrow.svg) no-repeat;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
  top: 40px;
  width: 40px;
  height: 20px;
}



#container {
  margin: 0 auto;
  width: 800px;
  padding-top: 30px;
}

.content {
}


.map {
  margin: 0;
  padding-top: 0px;
}


.entry {
	margin: 3em 0 3em 0;
}



.date {
  display: block;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-style: italic;
  letter-spacing: 1.0pt;
}

.title {
  display: block;
  margin: 0px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1900;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  font-family: 'Montserrat', sans-serif;
}

.title a:hover {
  border-bottom: 1px solid black;
}


.text p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}


#copy {
  font-size: smaller;
  text-align: center;
  margin-bottom: 20px;
}


.nav {
  width: 100%;
  height: 32px;
  margin: 20px auto 0 auto;
}

#home {
    display: block;
    width: 81px;
    height: 32px;
    background: url(home.png) no-repeat;
    float: left;
}
#mail {
    display: block;
    width: 94px;
    height: 25px;
    float: right;
    background: url(mail.png) no-repeat;
}

#mail > span {
    display: none;
}
#home > span {
    display: none;
}


.images {
	height: auto;
}

.images img {
	max-width: 800px;
	margin: 0 0 20px 0;
}
@media (max-width: 1000px) {
  #borneo, #peninsula, #map, #rose {
    display: none;
  }
  #banner {
    position: initial;
    margin: 00px auto;
    float: none;
  }
  .header {
    width: 100%;
    height: 300px;
  }
  .header::after {
    display: none;
  }
  .headpanel {
    max-width: 100%;
    padding-top: 50px;
  }
  .images img {
    max-width: 100%;
  }
  #container {
    padding: 0;
  }
}
@media (max-width: 860px) {
  #container {
    max-width: 94%;
    margin: 0 3%;
  }
  .title {
	  letter-spacing: 0.1em;
  }
}

}
