<html lang="de">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta name="author" content="F. Hassert &amp; A. Zeisler" >
<meta name="keywords" content="reisebericht, urlaub, urlaubsfotos, fotos, bilder, reisen, reise, Brasilien, " >
<title>ferndrang // Brasilien 2012/2013 </title>
<link rel="stylesheet" media="screen" href="style.css" type="text/css" >
<link rel="stylesheet" media="print" href="print.css" type="text/css" >

<link rel="stylesheet" href="../highslide/styles.css" type="text/css" > 
<script type="text/javascript" src="../highslide/highslide-packed.js"></script> 
<script type="text/javascript">hs.graphicsDir='http://ferndrang.de/highslide/graphics/';hs.outlineType='rounded-white';hs.restoreTitle='Zum Schließen klicken, mit Pfeiltasten navigieren';hs.showCredits=false;hs.align="center";hs.dimmingOpacity=.75;hs.dimmingDuration=0;hs.expandDuration=0;hs.restoreDuration=0;</script> 
</head>

<body>


<div id="container">

<div class="nav">
<a id="worldlink" href="../"><span>ferndrang</span></a>
</div>


<div class="header">
<h1>Brasilien 2012/2013</h1>
</div>

<div class="map">
  <img id="map" src="map-routed.png" alt="Karte" width="632" height="556" >
</div>


<div class="content">

</div>

<div class="footer">
<div id="copy"><a href="/brasilien/mail/#mail">© by A. Zeisler &amp; F. Hassert</a></div>
</div>

<div id="ornamentsLeft"></div>
<div id="ornamentsRight"></div>
<div id="ornamentsCenter"></div>

</div>

</body></html>
